@import "tailwindcss";

@theme {
  --color-cyan-500: #06b6d4;
  --color-cyan-400: #22d3ee;
  --color-zinc-950: #09090b;
  --color-zinc-900: #18181b;
  --color-zinc-800: #27272a;
  --color-zinc-700: #3f3f46;
  --color-zinc-400: #a1a1aa;
  --color-zinc-200: #e4e4e7;
  --color-zinc-100: #f4f4f5;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 9, 9, 11;
  --background-end-rgb: 24, 24, 27;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  cursor: none;
}

a, button {
  cursor: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
  }
}
